@import "materialize-css/dist/css/materialize.min.css";

html, body {
    font-family: "Roboto", system-ui;
    height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at 0% 0%, #031679, #58aebd) !important;
    background-repeat: no-repeat;
}


.hometext {
    text-align: justify;
    line-height: 1.6;
    color: white;
}
.categoriesText{
    text-align: justify;
    line-height: 1.6;
    color: white;
}
.categoriesLinks{
    text-align: justify;
    line-height: 1.6;
    color: white;

}
.languageIntroText{
    text-align: justify;
    line-height: 1.6;
    color: white;
}
.ChartsInsightsText{
    text-align: justify;
    line-height: 1.6;
    color: white;
}

.LicenseIntroText{
    text-align: justify;
    line-height: 1.6;
    color: white;
}

.ChartsInsightsTextLc{
    text-align: justify;
    line-height: 1.6;
    color: white;
}

.licenseExplanation{
    text-align: justify;
    line-height: 1.6;
    color: white;
}

.ChartsExplanationLicense{
    text-align: justify;
    line-height: 1.6;
    color: white;
}

.languageListExplanationText{
    text-align: justify;
    line-height: 1.6;
    color: white;
}

.ResearchFieldIntroText{
    text-align: justify;
    line-height: 1.6;
    color: white;
}
.researchTypeText{
    text-align: justify;
    line-height: 1.6;
    color: white;
}
.overTimeExplanation{
    text-align: justify;
    line-height: 1.6;
    color: white;
}
.aboutText{
    text-align: justify;
    line-height: 1.6;
    color: white;
}


body {
    display: block;
    line-height: 1.6;
    text-align: justify;
    margin: 0;
    padding: 0;
}


main {
    flex: 1;
}

.container {
    min-height: 100%;
    color: white;
}

.header{
    color: #031679;
}




